@model BookStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>You are:</dt>
        @if (User.IsInRole("admin"))
        {
            <dd>
                admin
            </dd>
        }
        else
        {
            <dd>
                user
            </dd>
        }


        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Purchased:</dt>
        <dd>
            @Html.ActionLink(Model.Purchased.ToString(), "GetPurchased")
        </dd>

        <dt>Wishlist:</dt>
        <dd>
            @Model.Wishlist
        </dd>
        
    </dl>
</div>
