@model IEnumerable<BookStore.Models.Book>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .imgBox {
        width: 75px;
        height: 75px;
        opacity: 1.0;
        filter: alpha(opacity=100);
    }
</style>

<h2>Index</h2>

<p class="pull-left">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="pull-right">
    @using (Html.BeginForm("Index", "Books", FormMethod.Post))
    {
        <div class="input-group" style="width: 150px;">
            <input type="text" name="searchName" class="form-control input-sm pull-right" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-success">Ok</button>
            </div>
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImagePath)*@
            <img src="@Url.Content(item.ImagePath)" class="imgBox" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
